<div class="container d-flex flex-column ">
<div class="container d-flex mb-5">
<%= link_to root_path do %>
   <i class="fa-solid fa-circle-left" style="color:#5fb523"></i>
<% end %>
</div>
  <h2>Category</h2>
  <%= form_with(model: [@group], local: true) do |f| %>
  <div class="form-group">
   <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div>
  <%= f.label :icon, 'Select Icon:' %>
    <%= f.select :icon, ["ðŸ‘ž","ðŸ‘”","ðŸŽµ","ðŸŽ‰","ðŸŽ„","ðŸŽ","ðŸ¼","âœˆï¸", "ðŸŽ®", "ðŸ“š", "ðŸ¥", "ðŸˆ", "ðŸŽ¬", "ðŸ ", "ðŸ¶", "ðŸ»", "ðŸ”", "ðŸš—", "ðŸ–¥"], value: @group.icon, required: true, class: "form-control" %>
  </div>
  
  
    <div class="field mt-3 d-flex flex-column">
    <%= f.submit "Add New", class: "btn form-control btn-success green_button " %>
  </div>
    </div>

  <% end %>
</div>
